.header {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding: 10px;
    background-color: #24252a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

#custom-button {
  padding: 10px;
  color: white;
  background-color: #24252a;
  border: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}
  
#custom-button:hover {
  background-color: #4c5352;
}
  
#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

.select-box{
  width: 300px;
  position: relative;
}
.select-box select{
  height: 42px;
  padding: 10px 15px;
  line-height: 18px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  width: 20%;
  border: 2px solid;
  appearance: none;
}
.select-box:after{
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4px;
  border-top: 8px solid #ccc;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events:none;
}